*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media only screen and (max-width:480px) { 
  .bt {
    width: 100%;
  }
}


/* unvisited link */
.menu a:link, 
.footer a:link {
    color: rgb(129, 182, 212);
  }
/* visited link */
.menu a:visited, 
.footer a:visited {
    color: rgb(172, 170, 170);
  }

/* mouse over link */
.menu  a:hover,
.menu  p:hover, 
.footer a:hover {
    color: rgb(105, 245, 255);
  }  

.menu p {
    color: rgb(172, 170, 170);
    
}

.menu a {
  font-size: 4vw;
}

/***********************************************************************************************************************************/
.menu{
 height: 10vw;
 background-color:rgb(58, 58, 58);
 color: rgb(124, 124, 124);
 align-items:center;
 align-content: center;
 padding: 1vw;
 }

 .menu-flex {
  display: flex;
  align-items:center;
  align-content: center;
 }

 .menu .menu-flex .search {
  flex-direction: row;
  display: flex;
  margin-left: auto;
  font-size: 2vw;
  align-items: center;
  gap: 0.5vw;
 }

.image{
  padding-top: 0px;
  float:left;
  width:6vw;
  height:6vw;
} 

.search .icon {
  float:left;
  width:3vw;
  height:3vw;
}

img {
  max-width: 100%; 
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.bt{
  background: rgb(140, 192, 228);
  color: #000000;
  min-height: 2vw;
  min-width: 5vw;
  margin: 0;
  border: 0;
  line-height: 3vw;
  text-align: center;
  font-size: 2vw;
  margin: .5em 0 .5em 0;
}

.text{
  margin: .5em 0 .5em 0;
  min-height: 3vw;
  font-size: 2vw;
  width: 10vw;
}

.bt:hover{
  background: rgb(199, 229, 238);
}

/**********************************terkep********************************************************************/
.content_p {
    position: relative;
    height: 150vw;
    background-color: rgb(94, 153, 177);
    color: rgb(0, 0, 0);
}

.content_p #map { 
    position: relative;
    width: 100%;
    height: calc(80vh - 80px);
}

.footer {
    position: absolute;
    width: 100%;
    height: 22vw;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(58, 58, 58);
    color: rgb(124, 124, 124);
    gap: 0px;
    flex-wrap: wrap;
    padding-bottom: 3vw;
    font-size: 2vw;
}

.footer .block1 {
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
  gap: 1vw;
}

.footer .break {
  flex-basis: 100%;
  height: 0;
  display: flex;
 }

 hr { 
 width: 50%;
 margin-top: 3vw;
}

