*{  margin: 0;
    padding: 0;
}
* { box-sizing: border-box;
}
/* cloud */
.fa-cloud{
  color:rgb(104, 186, 238);
}

hr { 
  width: 100%;
  margin-top: 3vw;
 }

/***************************** BODY ************************************/
@media screen and (min-width: 1025px){
  .menu, .content_p, .footer {
  width: 75%;
  margin: auto;
  text-align: center;
  }}

/* The width is 100%, when the viewport is 480px or smaller */
@media only screen and (max-width:480px) { 
  body {width: 100%;}} 

body {
  background-color: white;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 1em;
  }

.flex {
  padding-top: 1vw;
  display: flex;
  align-items:center;
  position: relative;
}
.flex .search {
  flex-direction: row;
  display: flex;
  margin-left: auto;
  align-items: center;}

/*****************************   MENU  **********************************/
.menu{
  height: 10vw;
  padding: 3vw;}
.menu .title {
  align-items: center;
  justify-content: center;
  text-align: center;}  
/* unvisited link */
.menu a:link {
  color: rgb(124, 179, 210);
  text-decoration: none;}
/* visited link */
.menu a:visited {
  color: rgb(98, 98, 98);} 
/* mouse over link */
.menu a:hover,
.menu p:hover {
  color: rgb(104, 186, 238);}   
.menu p {
    color: rgb(109, 109, 109);}
.menu a {
  font-size: 2em}

/*************************** button********************************************/
.btn_keres {
  display: flex;
  margin-left: auto;
  width: 60%;
  padding-bottom: 2vh;
}

.btn_keres input[type=text] {
  padding: 5px;
  font-size: 0.5em;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #ffffff;
}

/* Style the submit button */
.btn_keres button {
  float: left;
  width: 20%;
  background: rgb(104, 186, 238);
  color: white;
  font-size: 1.2em;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.btn_keres button:hover {
  background: #0b7dda;
}

/* Clear floats */
.btn_keres::after {
  content: "";
  clear: both;
  display: table;
}

/********************************** Content p ********************************************************************/
.content_p {
    position: relative;
    color: rgb(114, 114, 114);
    padding: 3vw;
    text-align: justify;
    padding-top: 2vw;
    line-height: 2em;
    height:100em;
}

.content_p #map { 
    position: relative;
    width: 100%;
    height: 350px;
}

.content_p a:link {
  color: rgb(124, 179, 210);
  text-decoration: none;}
/* visited link */
.content_p a:visited {
  color: rgb(98, 98, 98);} 
/* mouse over link */
.content_p a:hover{
  color: rgb(104, 186, 238);}   

/********************** graph  and button  ***********************/
.graph {
    position: relative;
    width: 100%;
    padding-top: 2vw;
}

.flex-title {
  padding-top: 2vw;
  font-size: 1.2em;
  text-align:left;
}
.graph #myPlot {
  padding-top: 1vw;
  width: 100%;
  height: 80px;
  position: relative;
}

/* button for graph*/
.btn_keres1 {
  width: 60%;}
.btn_keres1 select {
  width: 30%;
  overflow: hidden;}

.btn_keres1 button{
  float: left;
  width: 20%;
  background: rgb(104, 186, 238);
  color: white;
  font-size: 1.2em;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.btn_keres1 input[type=text] {
  padding: 5px;
  font-size: 0.5em;
  border: 1px solid rgb(116, 115, 115);
  float: left;
  width: 60%;
  background: rgb(255, 255, 255);}

.btn_keres1 button:hover {
  background: #0b7dda;}
/* Clear floats */
.btn_keres1::after {
  content: "";
  clear: both;
  display: table;}
.btn_keres1 {
  display: flex;
  margin-left: auto;}

/****************************footer***********************/
.footer {
    position:relative;
    height: 22px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1px;
    flex-wrap: wrap;
    font-size: 1em;
}

.footer .block1 {
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  gap: 1vw;
}

.footer .break {
  flex-basis: 100%;
  height: 0;
  display: flex;
  align-items: center;
 }

.footer a:link {
  color: rgb(100, 141, 165);
   text-decoration: none;
}

.footer a:visited {
  color: rgb(175, 175, 175);
}

.footer a:hover,
.footer p:hover {
  color: rgb(104, 186, 238);
}  